<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="Screenshot.actionSet"
            label="Screenshot Actions"
            visible="true">
         <action
               class="screenshot.WorkbenchWindow"
               icon="icons/workbenchwindow.png"
               id="Screenshot.workbenchwindow.action"
               label="Workbench Window"
               menubarPath="window/additions"
               style="push">
         </action>
         <action
               class="screenshot.WorkbenchWindow"
               icon="icons/workbenchwindow.png"
               id="Screenshot.workbenchwindow.action"
               label="Workbench Window"
               style="pulldown"
               toolbarPath="screenshot">
         </action>
         <action
               class="screenshot.DesktopArea"
               icon="icons/desktoparea.png"
               id="Screenshot.desktoparea.action"
               label="Desktop Area"
               menubarPath="window/additions"
               style="push"
               toolbarPath="screenshot">
         </action>
         <action
               class="screenshot.Desktop"
               icon="icons/desktop.png"
               id="Screenshot.desktop.action"
               label="Desktop"
               menubarPath="window/additions"
               style="push"
               toolbarPath="screenshot">
         </action>
      </actionSet>
   </extension>

</plugin>
