<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="SnapshotUI.actionSet"
            label="Snapshot UI"
            visible="true">
         <action
               class="snapshotui.SnapshotAction"
               id="SnapshotUI.action"
               label="Snapshot UI"
               menubarPath="window/additions"
               style="push">
         </action>
      </actionSet>
   </extension>

</plugin>
