<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status?after=additions">
         <toolbar
               id="KeyBindingReminder.toolbar">
            <control
                  class="keybindingreminder.ControlContribution">
            </control>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
