<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar id="SkieclipseToolbar.toolbar">
            <control
                  class="skineclipse.SkieclipseSliderInToolbar"
                  id="SkieclipseToolbar.control">
            </control>
         </toolbar>
      </menuContribution>
      <group
            id="skineclipse.SkieclipseSliderTrim">
         <location>
            <bar
                  type="trim">
            </bar>
            <order
                  position="after"
                  relativeTo="status">
            </order>
         </location>
      </group>
      <widget
            class="skineclipse.SkieclipseSliderInStatusbar"
            id="Skineclipse.widget">
         <location>
            <bar
                  path="skineclipse.SkieclipseSliderTrim"
                  type="trim">
            </bar>
         </location>
      </widget>
   </extension>

</plugin>
