<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="EclipseInfo.actionSet"
            label="Eclipse Info"
            visible="true">
         <action
               class="eclipseinfo.Info"
               icon="icons/info.png"
               id="EclipseInfo.action"
               label="Eclipse Info"
               menubarPath="help/additions"
               style="push">
         </action>
      </actionSet>
   </extension>

</plugin>
