<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.find.bar"
            name="%ShowFindBar.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.find.bar.hide"
            name="%HideFindBar.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.find.bar.findNext"
            name="%FindNext.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.find.bar.findPrevious"
            name="%FindPrevious.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.edit.find.bar"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F">
      </key>
      <key
            commandId="org.eclipse.ui.edit.find.bar.hide"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ESCAPE">
      </key>
      <key
            commandId="org.eclipse.ui.edit.find.bar.findNext"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+K">
      </key>
      <key
            commandId="org.eclipse.ui.edit.find.bar.findNext"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ENTER">
      </key>
      <key
            commandId="org.eclipse.ui.edit.find.bar.findPrevious"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+K">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findReplace"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Find Bar Context is active when the find text box has the focus."
            id="org.eclipse.ui.textEditorScope.findbar"
            name="%FindBar.context.name"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="editorfindbar.impl.ShowFindReplaceDialogHandler"
            commandId="org.eclipse.ui.edit.find.bar">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <not>
                  <or>
                     <instanceof
                           value="editorfindbar.api.IFindBarDecorated">
                     </instanceof>
                     <adapt
                           type="editorfindbar.api.IFindBarDecorated">
                     </adapt>
                  </or>
               </not>
            </with>
         </enabledWhen>
      </handler>
   </extension>
</plugin>
