<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.find.bar"
            name="Show Find bar">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.edit.find.bar"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findReplace"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Find Bar Context is active when the find text box has the focus."
            id="org.eclipse.ui.textEditorScope.findbar"
            name="Find Bar Context"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
</plugin>
