<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="CloseViews.activeView"
            name="Close View">
      </command>
      <command
            id="CloseViews.activeViewStack"
            name="Close All Views in Tab">
      </command>
      <command
            id="CloseViews.otherViewsActiveViewStack"
            name="Close Other Views in Tab">
      </command>
      <command
            id="CloseViews.otherViews"
            name="Close Other Views">
      </command>
      <command
            id="CloseViews.allViews"
            name="Close All Views">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="CloseViews.activeView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+W">
      </key>
      <key
            commandId="CloseViews.allViews"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+W">
      </key>
      <key
            commandId="CloseViews.activeView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+F4">
      </key>
      <key
            commandId="CloseViews.allViews"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+F4">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="CloseViews.activeView"
            icon="icons/close_active_view.gif">
      </image>
      <image
            commandId="CloseViews.allViews"
            icon="icons/close_all_views.gif">
      </image>
      <image
            commandId="CloseViews.activeViewStack"
            icon="icons/close_active_view_stack.gif">
      </image>
      <image
            commandId="CloseViews.otherViewsActiveViewStack"
            icon="icons/close_other_views_active_view_stack.gif">
      </image>
      <image
            commandId="CloseViews.otherViews"
            icon="icons/close_other_views.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="closeviews.CloseActiveViewHandler"
            commandId="CloseViews.activeView">
         <activeWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchPart">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="closeviews.CloseActiveViewStackHandler"
            commandId="CloseViews.activeViewStack">
         <activeWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchPart">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="closeviews.CloseOtherViewsActiveViewStackHandler"
            commandId="CloseViews.otherViewsActiveViewStack">
         <activeWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchPart">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="closeviews.CloseOtherViewsHandler"
            commandId="CloseViews.otherViews">
         <activeWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchPart">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="closeviews.CloseAllViewsHandler"
            commandId="CloseViews.allViews">
         <activeWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchPart">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=closeAllPerspectives">
         <separator
               name="CloseViews.separator1"
               visible="true">
         </separator>
         <command
               commandId="CloseViews.activeView"
               label="Close View"
               style="push">
         </command>
         <command
               commandId="CloseViews.otherViews"
               label="Close Other Views"
               style="push">
         </command>
         <command
               commandId="CloseViews.allViews"
               label="Close All Views"
               style="push">
         </command>
         <separator
               name="CloseViews.separator2"
               visible="true">
         </separator>
         <command
               commandId="CloseViews.activeViewStack"
               label="Close All Views in Tab"
               style="push">
         </command>
         <command
               commandId="CloseViews.otherViewsActiveViewStack"
               label="Close Other Views in Tab"
               style="push">
         </command>
         <separator
               name="CloseViews.separator3"
               visible="true">
         </separator>
      </menuContribution>
   </extension>

</plugin>
