<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="selectionexplorer.SelectionExplorerView"
            icon="icons/selectionexplorer.gif"
            id="selectionexplorer.views.SelectionExplorer"
            name="Selection Explorer">
      </view>
   </extension>
</plugin>
