<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="reversetextselection.ReverseTextSelectionHandler"
            id="ReverseTextSelection.command"
            name="Reverse Text Selection">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ReverseTextSelection.command"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+/">
      </key>
   </extension>

</plugin>
