<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="SystemToConsole.outanderr.command"
            name="'T' System.out and System.err to Console">
         <state
         	class="org.eclipse.jface.commands.ToggleState:false"
         	id="org.eclipse.ui.commands.toggleState">
   		 </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="systemtoconsole.TeeSystemOutAndErrHandler"
            commandId="SystemToConsole.outanderr.command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:window?after=additions">
         <command
               commandId="SystemToConsole.outanderr.command"
               style="toggle">
         </command>
      </menuContribution>
   </extension>
</plugin>
