<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
        <toolbar id="Test.toolbars.sampleToolbar">
          <control
                class="sampler.ColorSamplerControlContribution"
                id="sampler.ColorSampler">
          </control>
        </toolbar>
      </menuContribution>
    </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="sampler.SamplerPreferencePage"
            id="Sampler.page"
            name="Sampler">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="sampler.SamplerPreferences">
      </initializer>
   </extension>
</plugin>
