<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.help"
            id="contexts.command"
            name="Contexts">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="contexts.ShowContextsHandler"
            commandId="contexts.command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help?after=additions">
         <command
               commandId="contexts.command"
               style="push">
         </command>
         <separator
               name="contexts.separator">
         </separator>
      </menuContribution>
   </extension>

</plugin>
