<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="text.overview"
            name="Overview">
      </category>
      <view
      		allowMultiple="false"
            name="Overview"
            icon="icons/overview.gif"
            category="text.overview"
            class="text.overview.views.OverviewView"
            id="text.overview.views.OverviewView"
            restorable="true">
      </view>
      <stickyView
            closeable="true"
            id="text.overview.views.OverviewView"
            location="RIGHT"
            moveable="true">
      </stickyView>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="true"
               id="text.overview.views.OverviewView"
               minimized="false"
               moveable="true"
               ratio="0.1"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="text.overview.OverviewPreferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="text.overview.views.RefreshOverviewViewHandler"
            id="text.overview.refresh.command"
            name="Refresh Overview">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="text.overview.refresh.command"
            icon="icons/overview.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="text.overview.refresh.command"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+O">
      </key>
   </extension>
</plugin>
