<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar id="QuickAccessToolbar.toolbar">
            <control
                  class="quickaccesstoolbar.QuickAccessText"
                  id="QuickAccessToolbar.control">
            </control>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
