<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%FindReplaceBar.context.description"
            id="findreplacebar.context"
            name="%FindReplaceBar.context.name"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="findreplacebar.show"
            name="%ShowFindReplaceBar.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="findreplacebar.hide"
            name="%HideFindReplaceBar.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="findreplacebar.findNext"
            name="%FindNext.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="findreplacebar.findPrevious"
            name="%FindPrevious.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="findreplacebar.toggleWholeWordMode"
            name="%ToggleWholeWordMode.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="findreplacebar.toggleRegularExpressionMode"
            name="%ToggleRegularExpressionMode.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="findreplacebar.showFindReplaceDialog"
            name="%ShowFindReplaceDialog.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="findreplacebar.ShowFindReplaceBarHandler"
            commandId="findreplacebar.show">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.IEditorPart">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="findreplacebar.show"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F">
      </key>
      <key
            commandId="findreplacebar.hide"
            contextId="findreplacebar.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ESCAPE">
      </key>
      <key
            commandId="findreplacebar.findPrevious"
            contextId="findreplacebar.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+K">
      </key>
      <key
            commandId="findreplacebar.findPrevious"
            contextId="findreplacebar.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+ENTER">
      </key>
      <key
            commandId="findreplacebar.findNext"
            contextId="findreplacebar.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+K">
      </key>
      <key
            commandId="findreplacebar.findNext"
            contextId="findreplacebar.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ENTER">
      </key>
      <key
            commandId="findreplacebar.toggleWholeWordMode"
            contextId="findreplacebar.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+W">
      </key>
      <key
            commandId="findreplacebar.toggleRegularExpressionMode"
            contextId="findreplacebar.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
      <key
            commandId="findreplacebar.showFindReplaceDialog"
            contextId="findreplacebar.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.ui"
            class="findreplacebar.FindReplaceBarViewPart"
            icon="icons/find.png"
            id="FindReplaceBar.view"
            name="%findreplacebar.name"
            restorable="true">
      </view>
      <stickyView
            closeable="false"
            id="FindReplaceBar.view"
            location="BOTTOM"
            moveable="false">
      </stickyView>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="FindReplaceBar.view"
               minimized="false"
               moveable="false"
               ratio="0.05"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="findreplacebar.FindReplaceBarPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.GeneralTextEditor"
            class="findreplacebar.FindReplaceBarPreferencePage"
            id="FindReplaceBar.preferences.page"
            name="%findreplacebar.name">
         <keywordReference
               id="FindReplaceBar.find">
         </keywordReference>
         <keywordReference
               id="FindReplaceBar.replace">
         </keywordReference>
      </page>
   </extension>
   <extension
         id="FindReplaceBar.keywords"
         name="%findreplacebar.keywords.name"
         point="org.eclipse.ui.keywords">
      <keyword
            id="FindReplaceBar.find"
            label="%findreplacebar.keyword.find">
      </keyword>
      <keyword
            id="FindReplaceBar.replace"
            label="%findreplacebar.keyword.replace">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            name="FindReplaceBar.annotationType">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="FindReplaceBar.annotationType"
            colorPreferenceKey="FIND_MATCH"
            colorPreferenceValue="255,255,102"
            highlightPreferenceKey="HIGHTLIGHT_FIND_MATCH"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Find Matches"
            overviewRulerPreferenceKey="OVERVIEW_RULER_FIND_MATCH"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="TEXT_FIND_MATCH"
            textPreferenceValue="false"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
</plugin>
