<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="Themeclipse.themes"
         name="Theme Eclipse Themes"
         point="org.eclipse.ui.themes">
      <theme
            id="Themeclipse.theme"
            name="Dark Theme">
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
               value="COLOR_DARK_GRAY">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
               value="COLOR_DARK_GRAY">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_TAB_TEXT_COLOR"
               value="COLOR_WHITE">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_START"
               value="COLOR_GRAY">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_END"
               value="COLOR_GRAY">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.INACTIVE_TAB_TEXT_COLOR"
               value="COLOR_BLACK">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_BG_START"
               value="COLOR_GRAY">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_BG_END"
               value="COLOR_GRAY">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_TEXT_COLOR"
               value="COLOR_DARK_GRAY">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.editors.backgroundColor"
               value="COLOR_BLACK">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.editors.foregroundColor"
               value="COLOR_WHITE">
         </colorOverride>
         <colorOverride
               id="org.eclipse.ui.editors.currentLineColor"
               value="COLOR_DARK_GRAY">
         </colorOverride>
         <colorOverride
               id="org.eclipse.jdt.ui.java_default"
               value="COLOR_WHITE">
         </colorOverride>
         <colorOverride
               id="org.eclipse.jdt.ui.java_operator"
               value="COLOR_GRAY">
         </colorOverride>
      </theme>
   </extension>
   <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            class="themeclipse.AbstractPresentationFactory"
            id="Themeclipse.factory"
            name="Theme Eclipse Presentation Factory">
      </factory>
   </extension>

</plugin>
