<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="FeaturesPluginsFragments.actionSet"
            label="Features Plugins Fragments"
            visible="true">
         <action
               class="featurespluginsfragments.ListFeaturesPluginsFragmentsAction"
               id="FeaturesPluginsFragments.action"
               label="List Features Plug-ins Fragments"
               menubarPath="Help/additions"
               style="push">
         </action>
      </actionSet>
   </extension>

</plugin>
